* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 120px;
  /* background-color: red; */
  font-size: 16px;
}
nav {
  display: flex;
  gap: 32px;
  align-self: center;
  line-height: 152%;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
  color: black;
}

header button {
  background-color: #30b868;
  color: white;
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.hero-section {
  background: url("/assets/hero-bg.png");
  height: 600px;
  display: flex;
  justify-content: center;
  padding: 70px 120px 134px 120px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero-badge {
  display: flex;
  gap: 8px;
  background-color: white;
  color: #30b868;
  padding: 8px 12px;
  border-radius: 100px;
  border: none;
  align-items: center;
  justify-content: center;
}

/* .btn {
  display: flex;
  color: #30b868;
  background-color: white;
  padding: 12px 8px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
} */
.hero-structured {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 24px;
  font-size: 48px;
}

.structured {
  color: white;
}
.structured-bottom {
  color: #30b868;
}
.hero-subtext {
  color: white;
  margin-top: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.hero-btn-container {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.hero-btn-1 {
  background-color: #30b868;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.hero-btn-2 {
  color: white;
  border: 2px solid white;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
